<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ban"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ban"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">

        <activity android:name=".Activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SignUpOneActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.SearchInfoActivity" />
        <activity android:name=".Activity.SearchIDActivity" />
        <activity android:name=".Activity.SearchPwdActivity" />
        <activity android:name=".Activity.ConnectPartnerActivity" />
        <!--<activity android:name=".Activity.ConnectWaitActivity" />-->

        <!--<activity android:name=".Activity.MainActivity" />-->
        <activity android:name=".Activity.FragmentMain" />

        <!--<activity android:name=".Activity.MenuActivity" />-->
        <activity android:name=".Activity.DiaryPageActivity" />
        <activity android:name=".Activity.DiaryDetailActivity" />
        <activity
            android:name=".Activity.DiaryWriteActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.DiaryModifyActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--<activity android:name=".Activity.FestivalActivity" />-->

        <activity
            android:name=".Activity.ChatActivity"
            android:windowSoftInputMode="adjustResize" />

        <!--<activity android:name=".Activity.SettingActivity" />-->
        <activity android:name=".Activity.PwdPageActivity" />
        <activity android:name=".Activity.PwdSetActivity" />
        <activity android:name=".Activity.PwdChanActivity" />
        <activity android:name=".Activity.PwdActivity" />
        <activity android:name=".Activity.ThemeActivity" />
        <activity android:name=".Activity.BackgroundActivity" />
        <activity android:name=".Activity.MyInfoActivity" />
        <activity android:name=".Activity.NoticeActivity" />


        <activity
            android:name=".Activity.DiaryMoreDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <activity
            android:name=".Activity.PartnerInfoDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.NoticeDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"/>


        <service android:name=".Activity.Firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Activity.Firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        
        
        <provider
            android:authorities="com.example.mate"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />

        </provider>

        
        

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <!--전화와 메시지를 보내기 위한 퍼미션-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>